#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .attribution {
        margin-top: 20px;
        text-align: center;
        font-size: 14px;

        a {
            color: var(--clr-white);
        }
    }
}